body {
    text-align: center;
}

#live-scores-level-div {
  text-align: center;
  margin: auto;
}

h3 {
  text-align: center;
}

canvas {
  margin-top: -20px;
}

#gameTitle {
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

#lives, #scores, #level {
  font-size: 14px;
  font-weight: bold;
}

#livesDiv, #scoresDiv, #levelDiv {
  font-size: 17px;
  font-weight: bold;
}